version: '3.8'

services:
  web:
    build: .
    command: /app/entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
      - "5000:5000"
    env_file:
      - .env
    # environment:
    #   - DATABASE_URL=postgres://greenpact:greenpact@db:5432/greenpact
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=greenpact
      - POSTGRES_USER=greenpact
      - POSTGRES_PASSWORD=greenpact

volumes:
  postgres_data:
